*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.color-body{
    background-color: rgb(215, 215, 215,1);
}
/* shared style */
.logo{
    margin-top: 22.5px;
    /* margin-bottom:0px ; */

    /* border: 1px solid blue; */
}
nav{

    width: 83%;
    max-width: 1341px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.nav-links .nav-items{
    display: flex;
    gap: 32px;
    margin-top:34px;
    list-style-type: none;

    
}
.btn {
    width: 164px;
    height: 44px;
    margin-top: 22.5px;
    list-style-type: none;
    border-radius: 8px;
    border: none;
    background-color: #30b868;
    color: white;
    cursor: pointer;
    
}
#banner{
    width: 100%;
    height: 600px;
    /* border: 1px solid black; */
    background-image: url("../New folder/assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.banner-content .btn2{
    background: transparent;
    color: white;
    border: 1px solid white;
}
.banner-content{
    margin: 0 auto;
    padding-top: 23.5px;
    text-align: center;
}
.banner-content .picture-text{
    display: inline-flex;
    border-radius:5px ;
    justify-content: center;
    background-color: white;
    color: #30b868;
}
