*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    

/* .color-body{ */
    /* background-color: rgb(215, 215, 215,1); */

/* shared style */
.logo{
    margin-top: 22.5px;
    /* margin-bottom:0px ; */

    /* border: 1px solid blue; */
}
nav{

    width: 83%;
    max-width: 1341px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.nav-links .nav-items{
    display: flex;
    gap: 32px;
    margin-top:34px;
    list-style-type: none;

    
}
.btn {
    margin: 24px ;
    padding: 10px;
    font-size: 30px;
    list-style-type: none;
    border-radius: 12px;
    border: none;
    background-color: #30b868;
    color: white;
    cursor: pointer;
    
}
#banner{
    width: 100%;
    height: 600px;
    padding: 154px 341px;
    /* border: 1px solid black; */
    background-image: url("../New folder/assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner-content .btn2{
    background: transparent;
    color: white;
    border: 1px solid white;
}
.banner-content{
   
    /* padding-top: 23.5px; */
    text-align: center;
}
.banner-content .picture-text{

    display: inline-flex;
    border-radius:5px ;
    justify-content: center;
    background-color: white;
    color: #30b868;
}
.banner-content h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    margin-top: 24px;
    margin-bottom:16px ;
    color: white;
}

.banner-content .hedding{
    color: #30b868;
}
.banner-content .para{
    font-weight: 400;
    font-size: 18px;

    color: white;
    line-height: 24px;
}
.banner-content .btn3{
    display: inline-flex;
    align-items: center;
    margin: 32px;
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    color: white;
    background-color: #30b868;
}
.banner-content .btn3 img{
    
    
}
.banner-content .btn2{
    display: inline-flex;
    align-items: center;
    /* margin: 32px; */
     padding: 12px 16px;
}
#about .about-content{
    width: 83%;
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    padding: 40px 120px 44px;
}
.about-content .section-heading{
    max-width: 1360px;
    text-align: center;
}
.section-heading h1{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;


}
.section-heading p{
    font-size: 16px;
    margin-bottom: 44px;
    line-height: 44px;
}
#about .about-content .about-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    
    
}
.info-card{
    flex:1;
    text-align: center;
}
.about-info .info-card img{
  background-color: #F95555;
  color: #FFFFFF;
  padding: 16px;  
  border-radius: 30px;
}
.about-info .info-card h4{
    margin: 24px;
    font-weight: semi-bold;
    line-height: auto;
    font-size: 24px;
}
.about-info .info-card p{
    font-size: 16px;
    line-height: 24px !important;
    color: #627382;
    font-weight: 400;
}


